<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>Proyecto</title>
    <link href="~/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/rubic.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <strong class="text-primary">JA</strong><span class="text-light">GM</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#apartamentos">Apartamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ofertas">Ofertas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="main-wrapper">

        @RenderBody()

    </div>

    <script src="~/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <script src="~/assets/js/rubic.js"></script>

</body>
<footer class="footer py-4 bg-dark text-light">
    <div class="container text-center">
        <p class="mb-4 small">
            JAGM &copy;
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </div>
</footer>



</html>
