@model ProyectoProgramacion.Models.Autenticacion
@{
    ViewBag.Title = "Recuperar Contrasenna";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <strong class="text-primary">JA</strong><span class="text-light">GM</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#apartamentos">Apartamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ofertas">Ofertas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="header d-flex justify-content-center">
    <div class="container">
        <div class="row h-100 align-items-center">

            <div class="col-md-7">
                <div class="header-content">
                    <h3 class="header-title"><strong class="text-primary">JA</strong><span class="text-light">GM</span></h3>
                    <h4 class="header-subtitle">Administración Inteligente de Alquileres</h4>
                    <p>Administra tus propiedades y contratos de forma rápida, segura y eficiente. Con nuestra plataforma, el control de tus alquileres está a un clic de distancia.</p>
                </div>
            </div>

            <div class="col-md-5 d-none d-md-block">
                @using (Html.BeginForm("RecuperarContrasenna", "Home", FormMethod.Post, new { @class = "header-form" }))
                {
                    <div class="head">
                        <h5>Recuperar contraseña</h5>
                    </div>
                    <div>
                        @{
                            var mensaje = ViewBag.Mensaje as string;
                        }
                        @if (!string.IsNullOrEmpty(mensaje))
                        {
                            <div class="alert alert-warning text-center">
                                @mensaje
                            </div>
                        }
                    </div>
                    <div class="body">
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Correo, new
                            {
                                @type = "email",
                                @class = "form-control",
                                @placeholder = "Ingrese su correo electrónico*",
                                required = "required"
                            })
                        </div>
                    </div>
                    <div class="footer d-flex">
                        <button type="submit" class="btn btn-primary w-100">Enviar enlace de recuperación</button>
                    </div>
                }
            </div>

        </div>
    </div>
</header>

<section class="section" id="about">
    <div class="container text-center">
        <h6 class="display-4 has-line">¿CÓMO RENTAR UN APARTAMENTO?</h6>
        <p class="mb-5 pb-4">Sigue estos pasos para simplificar el proceso:</p>

        <div class="row">
            <div class="col-lg-4">
                <div class="circle-100 mb-3"><i class="ti-light-bulb"></i></div>
                <h6 class="title mb-3">
                    Comprender el proceso local de alquiler
                </h6>
                <p>
                    La mayoría de los apartamentos se alquilan sin amueblar, y los propietarios esperan solicitudes detalladas. La preparación anticipada y una solicitud sólida son clave.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="circle-100 mb-3"><i class="ti-face-smile"></i></div>
                <h6 class="title mb-3">
                    Documentos que debes presentar
                </h6>
                <p>
                    Prepara con antelación todos los documentos esenciales, incluyendo una copia de tu identificación personal, comprobante de ingresos y reporte de crédito.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="circle-100 mb-3"><i class="ti-marker-alt"></i></div>
                <h6 class="title mb-3">
                    Asegura un apartamento
                </h6>
                <p>
                    Actúa rápidamente cuando encuentres un anuncio que te guste. Presenta una solicitud y adjunta todos los documentos requeridos para aumentar tus posibilidades de éxito.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section has-img-bg text-center">
    <div class="container">
        <h6 class="display-3 has-line">DISEÑO CON ESTILO</h6>
        <h5 class="mb-5 font-weight-light">Amor Elegancia Presicion</h5>
    </div>
</section>
